$softblue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$mainbackground: hsl(217, 54%, 11%);
$cardbackground: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


//reset
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background-color: $mainbackground;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    color: $softblue;
}

.card {
    padding: 20px;
    background-color: $cardbackground;
    width: 310px;
    height: 560px;
    border-radius: 20px;
}

img {
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

h1 {
    color: $white;
    font-weight: 600;
    margin: 20px 0;
}

hr {
    border: 1px solid $line;
}

.card__content {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.card__content__eth {
    color: $cyan;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.card__content__eth img {
    object-fit: scale-down;
    width: 10%;
    height: 60%;
}

.card__content__creator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.card__content__creator span {
    color: white;
}

.card__content__left {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__content__left img {
    width: 15%;
    height: 25%;
}

.card__content__creator img {
    object-fit: scale-down;
    border: 1px solid $white;
    border-radius: 50%;
    width: 10%;
    height: 10%;
    margin-right: 10px;
}

span:hover {
    color: cyan;
    cursor: pointer;
}

h1:hover {
    color: cyan;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0;
    height: 98%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: hsl(178, 100%, 50%);
    border-radius: 5%;
}

.container:hover .overlay {
    opacity: 0.5;
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
}

.view {
    width: 15%;
    height: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

.container:hover .view {
    opacity: 1;
}